body{
    background: url("../img/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: gray;
}

.header {
    background-color: #EE6352;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

ul, li{
    display: block;
    padding: 0px;
    margin: 0px;
}

.menu{

}

.menu a{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    margin-left: 80px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu a:hover{
    color: #FAC05E;
}

.headline{
    text-align: center;
    font-size: 11em;
    text-transform: uppercase;
    line-height: .9em;
    margin-top: 200px;
    margin-bottom: 200px;
    color: white;
}

.who {
    background-image: url("../img/download.png");
    text-align: center;
    color: #bebebe;
    padding-top: 30px;
}

.row {
    margin: 0px;
}

.text{
    font-size: 1.5em;
}

.how{
    text-align: center;
    padding-top: 30px;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Merriweather", Arial, serif;
}

.featured__icon{
    font-size: 100px;
}

.featured__text{
    padding-top: 15px;
    text-align: center;
    font-size: 1.1em;
    font-family:'Lato', sans-serif;
    transition: all 0.3s ease;
}

.featured__text:hover{
    font-size: 1.2em;
}