{% extends "shop/wrapper.html" %}
{% block content %}
    <div class="container-fluid mc">
        <div class="row">
             <div class="col-lg-12">
                 <div class="headline">mc raper roma</div>
             </div>
        </div>
    </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="featured">
                    <div class="featured__block">
                        <h4 class="featured__title">NEW YEAR</h4>
                            <i class="fa fa-star featured__icon"></i>
                        <p class="featured__text">
                            "One,
                            We twist together all of our pelvis,<br>
                            Two,
                            Under the bit shakes his head,<br>
                            Three,
                            Are you standing Che? Do not brake!<br>
                            Four,
                            We stretch our legs wider!<br>
                            Five,
                            We repeat everything again!"<br>
                        </p>
                    </div>
                </div>
            </div>
{% endblock %}