<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    {% load staticfiles %}
    <link rel=stylesheet type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="banner" style="background-image: url({% static 'img/banner.jpg'%})">
        <div class="auto-container">
            <div class="text">MC RAPER ROMA</div>
            <div class="btns-box">
                <a class="theme-btn btn" href="">HE IS A GOD</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="text-center">HOW IS HE?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text">
                    Умеет печь вкусные блины и решать тройные интегралы <br>
                    Все его считают умным и красивым, и он так считаю <br>
                    Скромный <br>
                    Обожает сырники <br>
                    Знает, кто же этот "хороший мальчик" <br>
                    Не умеет стоять на руках <br>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="block col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="inner-box">
                    <div class="image">
                        <img src="{% static 'img/1.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="block col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="inner-box">
                    <div class="image">
                        <img src="{% static 'img/2.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="block col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="inner-box">
                    <div class="image">
                        <img src="{% static 'img/3.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="block col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="inner-box">
                    <div class="image">
                        <img src="{% static 'img/4.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>